@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

<div class="contianer">
    <div class="row">
        <div class="col-md-6">
            <h2>Gates from Asp.Net Core Web API</h2>
        </div>
        <div class="col-md-6">
            <h2>Gate employees from Java Spring Boot</h2>
        </div>
    </div>
</div>
